.CardList__Container {
  padding: 0 16px;
  margin: 32px auto;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.CardList__Item {
  max-width: 340px;
  width: 100%;
  display: flex;
  gap: 8px;
  border: 1px solid #000000;
  border-radius: 4px;
  padding: 8px;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.CardList__Title{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 20px;
  margin: 0 0 10px;
  white-space: break-spaces;
  text-align: center;
}

.CardList__Description {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0;
  white-space: break-spaces;
  text-align: center;
}



@media (min-width:64rem) {
  .CardList__Container {
    max-width: 1200px;
    margin: 0 auto;
  }
}